<div class="sidenav">
  <a routerLink="/home"
    >الرئيسية <img src="../../../../assets/icons/Graph.svg"
  /></a>
  <a routerLink="/statistics"
    >الإحصائيات <img src="../../../../assets/icons/Chart.svg"
  /></a>
  <a routerLink="/users"
    >المستخدمين <img src="../../../../assets/icons/User.svg"
  /></a>
  <a routerLink="/products"
    >المنتجات <img src="../../../../assets/icons/Bag.svg"
  /></a>
  <a routerLink="/packages"
    >الباقات <img src="../../../../assets/icons/Percent.svg"
  /></a>
</div>
