<div class="sidenav">
  <ul>
    <li [class.active]="isLinkActive('/home')">
      <a routerLink="/home">الرئيسية</a>
      <div [ngClass]="isLinkActive('/home') ? 'home-active' : 'home'"></div>
    </li>
    <li [class.active]="isLinkActive('/statistics')">
      <a routerLink="/statistics">الإحصائيات</a>
      <div
        [ngClass]="
          isLinkActive('/statistics') ? 'statistics-active' : 'statistics'
        "
      ></div>
    </li>
    <li [class.active]="isLinkActive('/users')">
      <a routerLink="/users">المستخدمين</a>
      <div [ngClass]="isLinkActive('/users') ? 'users-active' : 'users'"></div>
    </li>
    <li [class.active]="isLinkActive('/products')">
      <a routerLink="/products">المنتجات</a>
      <div
        [ngClass]="isLinkActive('/products') ? 'products-active' : 'products'"
      ></div>
    </li>
    <li [class.active]="isLinkActive('/packages')">
      <a routerLink="/packages">الباقات</a>
      <div
        [ngClass]="isLinkActive('/packages') ? 'packages-active' : 'packages'"
      ></div>
    </li>
  </ul>
</div>
