.sidenav {
  height: 100%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: 62px;
  background-color: #ffffff;
  border-left: 1px solid #ecedee;
  overflow-x: hidden;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #6b7280;
}

ul {
  list-style-type: none;
}

li {
  height: 43px;
  width: 188px;
  background-color: white;
  border-radius: 8px;
  font-size: 12px;
  text-align: right;
  margin-right: 19px;
  margin-bottom: 20px;
  padding-top: 11px;
  display: flex;
  justify-content: flex-end;
}

.active {
  background-color: #f7f9ff;
}

.home {
  height: 21px;
  width: 20px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Graph.svg);
}

.home-active {
  height: 19px;
  width: 20px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Graph-active.svg);
}

.statistics {
  height: 19px;
  width: 19px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Chart.svg);
}

.statistics-active {
  height: 19px;
  width: 19px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Chart-active.svg);
}

.users {
  height: 20px;
  width: 21px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/User.svg);
}

.users-active {
  height: 20px;
  width: 21px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/User-active.svg);
}
.products {
  height: 21px;
  width: 20px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Bag.svg);
}

.products-active {
  height: 21px;
  width: 20px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Bag-active.svg);
}
.packages {
  height: 21px;
  width: 21px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Percent.svg);
}

.packages-active {
  height: 19px;
  width: 20px;
  margin-left: 24px;
  margin-right: 9px;
  background-image: url(../../../../assets/icons/Percent-active.svg);
}
