<div class="page-container">
  <div class="header">
    <div class="title">المستخدمين</div>
    <input class="search" placeholder="ابحث عن مستخدم" type="text" />
  </div>
  <div>
    <table class="table">
      <thead>
        <tr class="table-header">
          <th class="controls">
            <img src="../../../assets/icons/Setting.svg" />
            <img src="../../../assets/icons/Delete-gray.svg" />
          </th>
          <th></th>
          <th>سهر المنتج</th>
          <th>ID</th>
          <th>نوع المنتج</th>
          <th>
            اسم المنتج
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let _ of [].constructor(14)">
          <tr>
            <td></td>
            <td>
              <button class="del-btn">
                حظر <img src="../../../assets/icons/Delete.svg" /></button
              ><button class="edit-btn">
                تعديل <img src="../../../assets/icons/Edit.svg" />
              </button>
            </td>
            <td>400 ريال</td>
            <td>#4871110</td>
            <td>حداء رياضي</td>
            <td>
              حداء رياضي نايكي 93XL
              <input
                class="form-check-input m-check"
                type="checkbox"
                value=""
                id="flexCheckIndeterminate"
              />
              <div class="description">
                هو حداء رياضي جديد من شركة مصنعة نايكي...
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
