<div class="page-container">
  <div class="grid-container">
    <div class="transactions grid-item">
      <div class="grid-item-header">
        <div class="show-more">عرض الكل</div>
        <div class="title">اخر التحويلات</div>
      </div>
      <div class="sub-title">قائمة لأخر المشتركين في فلكسي</div>
      <table class="table striped-table">
        <thead>
          <tr class="table-header">
            <th>القيمة</th>
            <th>التاريخ</th>
            <th>التحويلات</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let _ of [].constructor(9)">
            <tr>
              <td>90 ريال</td>
              <td>23 أبريل 2022</td>
              <td>قائمة لأخر المشتركين في فلكسي</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="graph grid-item">
      <div class="grid-item-header">
        <div class="capsule">+12.5%</div>
        <div class="title">45,385 ريال</div>
      </div>
      <div class="card-subtitle">اشتراكات هذا الأسبوع</div>
      <div class="graph-container" style="width: 800px">
        <canvas
          baseChart
          class="chart"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
        ></canvas>
      </div>
    </div>
    <div class="card1 grid-item">
      <div class="grid-item-header">
        <div class="capsule">+80.5%</div>
        <div class="card-title">حساب 15,820</div>
      </div>
      <div class="card-subtitle">المسجلين لهذا الشهر</div>
    </div>
    <div class="card2 grid-item">
      <div class="grid-item-header">
        <div class="capsule">+2.5%</div>
        <div class="card-title">230 مبيعة</div>
      </div>
      <div class="card-subtitle">المبيعات لهذا الشهر</div>
    </div>
    <div class="card3 grid-item">
      <div class="grid-item-header">
        <div class="capsule">+12.5%</div>
        <div class="card-title">1820 مشترك</div>
      </div>
      <div class="card-subtitle">المشتركين الجدد هذا الشهر</div>
    </div>
    <div class="table1 grid-item">
      <div class="grid-item-header">
        <div class="show-more">عرض الكل</div>
        <div class="table-title">اخر المبيعات</div>
      </div>
      <table class="table">
        <thead>
          <tr class="table-header">
            <th>القيمة</th>
            <th>التاريخ</th>
            <th>رقم الطلب</th>
            <th>المشترك</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let _ of [].constructor(6)">
            <tr>
              <td>20 ريال</td>
              <td>23 أبريل 2028</td>
              <td>#949110</td>
              <td>محمد إبن محمد</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="table2 grid-item">
      <div class="grid-item-header">
        <div class="show-more">عرض الكل</div>
        <div class="table-title">اخر المشتركين</div>
      </div>
      <table class="table">
        <thead>
          <tr class="table-header">
            <th>القيمة</th>
            <th>التاريخ</th>
            <th>رقم الهاتف</th>
            <th>المشترك</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let _ of [].constructor(6)"
            ><tr>
              <td>90 ريال</td>
              <td>أبريل 2022</td>
              <td>+96638371119</td>
              <td>محمد إبن محمد</td>
            </tr></ng-container
          >
        </tbody>
      </table>
    </div>
  </div>
</div>
