<div class="page-container">
  <div class="grid-container">
    <div class="transactions grid-item">
      <div class="grid-item-header">
        <div class="show-more">عرض الكل</div>
        <div class="title">اخر التحويلات</div>
      </div>
      <div class="sub-title">قائمة لأخر المشتركين في فلكسي</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">القيمة</th>
            <th scope="col">التاريخ</th>
            <th scope="col">التحويلات</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
          <tr>
            <td>90 ريال</td>
            <td>23 أبريل 2022</td>
            <td>قائمة لأخر المشتركين في فلكسي</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="graph grid-item">graph</div>
    <div class="card1 grid-item">
      <div class="grid-item-header">
        <div class="capsule">+12.5%</div>
        <div class="card-title">1820 مشترك</div>
      </div>
      <div class="card-subtitle">المشتركين الجدد هذا الشهر</div>
    </div>
    <div class="card2 grid-item">
      <div class="grid-item-header">
        <div class="capsule">+12.5%</div>
        <div class="card-title">1820 مشترك</div>
      </div>
      <div class="card-subtitle">المشتركين الجدد هذا الشهر</div>
    </div>
    <div class="card3 grid-item">
      <div class="grid-item-header">
        <div class="capsule">+12.5%</div>
        <div class="card-title">1820 مشترك</div>
      </div>
      <div class="card-subtitle">المشتركين الجدد هذا الشهر</div>
    </div>
    <div class="table1 grid-item">
      <div class="grid-item-header">
        <div>عرض الكل</div>
        <div>اخر التحويلات</div>
      </div>
      <div>sub title</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table2 grid-item">
      <div class="grid-item-header">
        <div>عرض الكل</div>
        <div>اخر التحويلات</div>
      </div>
      <div>sub title</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>{{ marwan }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
