<div class="page-container">
  <div class="header">
    <div class="title">المستخدمين</div>
    <input class="search" placeholder="ابحث عن مستخدم" type="text" />
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>مدة الإشتراك</th>
          <th>ID</th>
          <th>نوع الباقة</th>
          <th>
            اسم المستخدم
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="del-btn">
              حظر <img src="../../../assets/icons/Delete.svg" /></button
            ><button class="edit-btn">
              تعديل <img src="../../../assets/icons/Edit.svg" />
            </button>
          </td>
          <td>3 شهور</td>
          <td>#4871110</td>
          <td>+ باقة فلكسي</td>
          <td>
            محمد بن عبد الله
            <input
              class="form-check-input m-check"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <div class="phone-number">+966387681622</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
