.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 215px;
}

.title-container {
  margin: 180px auto 31px auto;
  width: 327px;
  text-align: right;
}

.login-container {
  margin: auto;
  width: 365px;
  text-align: right;
}

.logo1 {
  background-image: url(../../../assets/logos/logo1.svg);
  width: 30px;
  height: 34px;
}

.logo2 {
  background-image: url(../../../assets/logos/logo2en.svg);
  width: 72px;
  height: 34px;
}

.title {
  color: #121212;
  font-size: 32px;
}

.sub-title {
  color: #8a8a8a;
  font-size: 13px;
}

.forgetPW {
  color: #67b375;
  font-size: 12px;
}

input {
  width: 365px;
  height: 56px;
  border-radius: 6.5px;
  border: 1px solid #67b375;
  padding: 0px 18px;
  text-align: right;
}

input:focus {
  outline: none;
  border: 2px solid #67b375;
}

input::placeholder {
  color: #d9d9d9;
  font-size: 9px;
}

button {
  background-color: #67b375;
  color: white;
  font-size: 14px;
  border: 0px solid;
  border-radius: 8px;
  width: 365px;
  height: 54px;
}
